@font-face {
  font-family: "DoodleJump";
  font-style: normal;
  font-weight: normal;
  src: local("DoodleJump"), url(".woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.game-container {
  position: relative;
  width: max-content;
  height: max-content;
  margin: 0 auto;
}

canvas {
  background: url(./images/doodlejumpbg.png);
}

.play-btn {
  width: 110px;
  height: 40px;
  position: absolute;
  top: 36%;
  left: 30%;
  cursor: pointer;
}

.doodler-start-gif,
.doodler-end-gif {
  width: 90px;
  height: 100px;
  position: absolute;
  top: 60%;
  left: 10%;
}

.play-again-btn {
  width: 140px;
  height: 50px;
  position: absolute;
  top: 54%;
  left: 50%;
  cursor: pointer;
}
